.platform {
    width: 20px;
    height: 150px;
    background-color: black;

    position: absolute;

    right: 3%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.start-game {
    border: none;
    width: 88px;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    height: 40px;

    background: #0c5e96;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;

    background-color: black;

    position: absolute;

    transform: translate(-50%, -50%);

    transition: all ease-in-out;
}

.timer {
    position: absolute;
    top: 5%;
    left: 5%;

    font-size: 30px;
}

.end-game {
    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 30px;
}
